body {
  background-color: #BDD2B6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: grey;
  border-width: 2px;
}
h1 {
  color : #F8EDE3;
}
h3{
  color : #F8EDE3;
}
